doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title(data-tid='elements_examples.meta.title') ExpressJS Stripe Payment Integration
  meta(data-tid='elements_examples.meta.description' name='description' content='Build beautiful, smart checkout flows.')
  link(rel='shortcut icon' href='/img/favicon.ico')
  link(rel='apple-touch-icon-precomposed' href='/img/apple-touch-icon/180x180.png')
  link(rel='icon' href='/img/apple-touch-icon/180x180.png')
  link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet')
  link(rel='stylesheet' type='text/css' href='/css/base.css' data-rel-css='')
  link(rel='stylesheet' type='text/css' href='/css/pricing.css' data-rel-css='')
  // CSS for each example:
  link(rel='stylesheet' type='text/css' href='/css/example3.css' data-rel-css='')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')


body
  block content
// Simple localization script for Stripe's examples page.
//script(src='js/index.js' data-rel-js='')
// Scripts for each example:
//script(src='js/example3.js' data-rel-js='')

